
<html>
    <head>
        <style>

        </style>
        <body>
        You have cancelled your table booking in Chrupka app.
        Date: {{date}}
        Time: {{time}}
        The table was for {{quantity}} people at the restaurant ${booking.Table.Restaurant.restaurantName}.
        Your PIN was {{PIN}}
        Hope to see you again!
        </body>
    </head>
</html>