<html>
    <head>
        <style>

        </style>
        <body>
        You have booked a table in Chrupka app.
        Date: {{date}}
        Time: {{time}}
        The table is for {{quantity}} people at the restaurant ${booking.Table.Restaurant.restaurantName}.
        Your PIN is {{PIN}}
        Enjoy !
        </body>
    </head>
</html>