<html>
    <head>
        <style>
            .imp{
                font-weight: bold;
                color: blueviolet;
            }
            a:hover{
                background-color:blueviolet;
            }
        </style>
        <body>
        <p class="imp">Hello {{firstName}} {{lastName}}!</p>
        <p> We have sent you a link to reset password for your restaurant's account
        in Chrupka app.</p>
        <p>The considered restaurant is {{restaurantName}}.</p> 
        <p>Please click on the link and follow the instructions to reset the password.</p>
        <p>Clink on the link below:</p>
        <a href="http://{{link}}">Reset password</a>
        <p>Best regards!</p>
        <p>Chrupka app team.</p>
        </body>
    </head>
</html>