<html>
    <head>
        <style>

        </style>
        <body>
        <p>Hello {{firstName}}!</p>
        <p> This is your restoration link for your account
        in Chrupka app. Please click on the link and follow the instructions to restore your account.</p>
        <p>Clink on the link below:</p>
        <a href="http://{{link}}">Restore account</a>
        <p>We are happy to see you again!</p>
        </body>
    </head>
</html>