<html>
    <head>
        <style>
            .imp{
                font-weight: bold;
                color: blueviolet;
            }
            a:hover{
                background-color:blueviolet;
            }
        </style>
        <body>
        <p class="imp">Hello {{firstName}}!</p>
        <p> We have sent you a link to reset your password 
        in Chrupka app. Please click on the link and follow the instructions to reset the password.</p>
        <p>Clink on the link below:</p>
        <a href="http://{{link}}">Reset password</a>
        <p>We are happy to see you again!</p>
        </body>
    </head>
</html>